.btn {
	margin: 5px;
}

.material-icons{
	margin: 10px;
	cursor: pointer;
	width: 24px;
}

body {
	background-image: url('../images/city.jpg');
	background-size: cover;
}

input {

	margin-bottom: 5px;

}